.App {
  color: white;
  padding-left:40px;
  font-family: montserrat;
}
.App-link {
  color: #61dafb;
}
a{
  color:#22d46c;
  text-decoration: none;
}
.about{
  width:60vw;
  font-weight: 400;
}
.button{
  color:white;
  background-color:  #22d46c;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.logo{
  width:160px;
  margin-left:30px;
  padding-top:20px; 
}
@media (max-width: 768px){
  .logo{
    margin-bottom:15px;
    /* display:none; */
  }
  .App {
    padding-left:25px;
  }
}
